In [1]:
import pandas as pd
import numpy as np
import pymysql

ModuleNotFoundError: No module named 'pymysql'

In [ ]:
conexion = pymysql.connect(
    host="localhost",
    user="root",
    # password="123456",
    database="cidia_pp2",
    port=3306)
query = 'SELECT * FROM tiempos_por_tecla where (tecla <= 47 or tecla >= 58)  and tecla <> 44 and tecla <> 46 and modo = 1 order by tiempo_id'    
#query1 = 'SELECT distinct usuario,practica,modo FROM tiempos_por_tecla WHERE modo=1 ORDER BY usuario,practica'
#query2 = 'SELECT * FROM `tiempos_por_tecla` WHERE usuario=1 and practica=1 and modo=1 and (tecla<=47 or tecla>=58) and tecla<>44 and tecla<>46 order by tiempo_id'

#df_usuarios = pd.read_sql(query1, conexion, index_col='usuario')
df_datos = pd.read_sql(query, conexion)

In [ ]:
df_datos.head()

In [ ]:
df_datos.info()

In [ ]:
df_datos['presion'] = df_datos.up - df_datos.down
df_datos.head()

In [ ]:
df_datos['down_entre_teclas'] = df_datos.down - df_datos.anterior_down
df_datos.head()

In [ ]:
df_datos['up_down_entre_teclas'] = df_datos.up - df_datos.anterior_down
df_datos.head()

## Limpieza de los datos

### Se eliminan los datos de UP y DOWN ya que se utulizaran campos calculados con restas de dichos valores

In [18]:
df_datos.columns

Index(['tiempo_id', 'usuario', 'practica', 'tecla', 'up', 'down', 'anterior',
       'anterior_down', 'modo', 'presion', 'down_entre_teclas',
       'up_down_entre_teclas'],
      dtype='object')

### Se eliminan los outliers mayores a 2 desvios standar

In [21]:
u = None
p = None
cont = -1
teclas = {}
temp = {}
for i in df_datos.usuario.unique():
    df_datos_usuario = df_datos[df_datos.usuario == i]

    for j in df_datos_usuario.practica.unique():
        cont += 1
        teclas = {}
        df_datos_practica = df_datos_usuario[df_datos_usuario.practica == j]

        if cont == 0:
            temp['usuario'] = [i]
        else:
            temp['usuario'].append(i)

        for k in df_datos_practica.index:
            if df_datos_practica.loc[k].tecla in teclas:
                teclas[df_datos_practica.loc[k].tecla] += 1
            else:
                teclas[df_datos_practica.loc[k].tecla] = 0
            
            nom_col = chr(df_datos_practica.loc[k].tecla) + str(teclas[df_datos_practica.loc[k].tecla])

            if cont == 0:
                # temp['kd_'+nom_col] = [df_datos_practica.loc[k].down]
                # temp['ku_'+nom_col] = [df_datos_practica.loc[k].up]
                temp['kp_'+nom_col] = [df_datos_practica.loc[k].presion]
                temp['kdet_'+nom_col] = [df_datos_practica.loc[k].down_entre_teclas]
                temp['kudet_'+nom_col] = [df_datos_practica.loc[k].up_down_entre_teclas]

            else:
                # temp['kd_'+nom_col].append(df_datos_practica.loc[k].down)
                # temp['ku_'+nom_col].append(df_datos_practica.loc[k].up)
                temp['kp_'+nom_col].append(df_datos_practica.loc[k].presion)
                temp['kdet_'+nom_col].append(df_datos_practica.loc[k].down_entre_teclas)
                temp['kudet_'+nom_col].append(df_datos_practica.loc[k].up_down_entre_teclas)
df1 = pd.DataFrame(temp)

In [22]:
df1

,usuario,kp_E0,kdet_E0,kudet_E0,kp_S0,kdet_S0,kudet_S0,kp_T0,kdet_T0,kudet_T0,...,kudet_A25,kp_R22,kdet_R22,kudet_R22,kp_I11,kdet_I11,kudet_I11,kp_O13,kdet_O13,kudet_O13
0,1,43,0,43,80,157,237,128,173,301,...,272,113,127,240,96,80,176,158,33,191
1,1,32,0,32,80,144,224,111,177,288,...,258,97,127,224,143,97,240,112,79,191
2,1,45,0,45,97,141,238,142,194,336,...,238,108,113,221,111,61,172,128,63,191
3,1,63,0,63,127,127,254,128,208,336,...,272,96,128,224,127,80,207,112,64,176
4,1,64,0,64,97,159,256,109,179,288,...,271,96,128,224,111,66,177,111,46,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364,81,95,0,95,79,207,286,72,104,176,...,160,56,2264,2320,120,208,328,71,96,167
365,81,56,0,56,63,185,248,63,2047,2110,...,536,55,713,768,120,151,271,80,96,176
366,82,107,0,107,144,182,326,159,217,376,...,280,161,79,240,120,57,177,128,79,207
367,82,95,0,95,158,202,360,160,181,341,...,280,119,80,199,120,40,160,103,96,199
368,82,103,0,103,143,215,358,119,184,303,...,303,144,80,224,120,40,160,143,80,223

In [27]:
df.describe()

,usuario,kp_E0,kdet_E0,kudet_E0,kp_S0,kdet_S0,kudet_S0,kp_T0,kdet_T0,kudet_T0,...,kudet_A25,kp_R22,kdet_R22,kudet_R22,kp_I11,kdet_I11,kudet_I11,kp_O13,kdet_O13,kudet_O13
count,361.000000,361.000000,361.0,361.000000,361.000000,361.000000,361.000000,361.000000,361.000000,361.00000,...,361.000000,361.000000,361.000000,361.000000,361.000000,361.000000,361.000000,361.000000,361.000000,361.000000
mean,64.977839,83.662050,0.0,83.662050,107.936288,196.324100,304.260388,98.307479,191.354571,289.66205,...,302.476454,102.318560,215.481994,317.800554,105.149584,150.814404,255.963989,91.844875,146.260388,238.105263
std,17.557985,25.448247,0.0,25.448247,33.472440,161.353245,165.288481,34.025761,299.632333,304.67380,...,204.026047,27.351537,206.058838,199.564231,36.360155,168.257859,166.604826,25.063880,157.373525,154.000794
min,1.000000,15.000000,0.0,15.000000,48.000000,111.000000,207.000000,48.000000,25.000000,100.00000,...,121.000000,40.000000,48.000000,159.000000,4.000000,12.000000,103.000000,32.000000,1.000000,68.000000
25%,66.000000,70.000000,0.0,70.000000,85.000000,158.000000,254.000000,75.000000,104.000000,191.00000,...,216.000000,80.000000,105.000000,216.000000,75.000000,87.000000,192.000000,74.000000,79.000000,170.000000
50%,69.000000,80.000000,0.0,80.000000,99.000000,182.000000,287.000000,88.000000,144.000000,235.00000,...,241.000000,105.000000,145.000000,264.000000,105.000000,112.000000,224.000000,89.000000,96.000000,200.000000
75%,73.000000,92.000000,0.0,92.000000,126.000000,209.000000,320.000000,112.000000,194.000000,293.00000,...,301.000000,120.000000,259.000000,352.000000,128.000000,170.000000,275.000000,110.000000,175.000000,251.000000
max,77.000000,244.000000,0.0,244.000000,256.000000,3067.000000,3158.000000,242.000000,4107.000000,4167.00000,...,2247.000000,228.000000,2034.000000,2074.000000,222.000000,2114.000000,2199.000000,201.000000,1101.000000,1181.000000

## Division en Train y Test

In [32]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import f1_score, confusion_matrix

In [45]:
X_train,X_test,y_train,y_test=train_test_split(df.drop(axis=1,columns='usuario'),df['usuario'],test_size=0.20,random_state=123)

## Normalizacion de los datos

In [46]:
# Importamos las librerías para lalimpieza de datos
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer

In [47]:
# Creamos los imputadores:
cols_num = X_train.select_dtypes(np.number).columns
t_norm = ("normalizador",MinMaxScaler(feature_range=(0, 1)),cols_num)
#Se genera el Transformador de Columnas para aplicar las transformaciones
transformador_columnas = ColumnTransformer(transformers=[t_norm], remainder='passthrough')
# Entrenamos el Transformador de Columnas con fit sobre el X_train
transformador_columnas.fit(X_train)
# Lo aplicamos sobre el X_train y sobre el X_test
X_train_transformado = transformador_columnas.transform(X_train)
X_test_transformado = transformador_columnas.transform(X_test)
# Determinamos el orden de las columnas:
cols_orden=cols_num.tolist()

In [48]:
X_train_norm=pd.DataFrame(X_train_transformado, columns = cols_orden) 
X_test_norm=pd.DataFrame(X_test_transformado, columns = cols_orden)

In [49]:
X_train_norm

,kp_E0,kdet_E0,kudet_E0,kp_S0,kdet_S0,kudet_S0,kp_T0,kdet_T0,kudet_T0,kp_A0,...,kudet_A25,kp_R22,kdet_R22,kudet_R22,kp_I11,kdet_I11,kudet_I11,kp_O13,kdet_O13,kudet_O13
0,0.410480,0.0,0.410480,0.278846,0.050744,0.054219,0.237113,0.056711,0.056054,0.229268,...,0.048448,0.218085,0.123170,0.114360,0.344037,0.104186,0.098760,0.284024,0.186364,0.195867
1,0.227074,0.0,0.227074,0.288462,0.029432,0.033548,0.268041,0.034899,0.037156,0.512195,...,0.049389,0.186170,0.138314,0.126893,0.389908,0.235966,0.235687,0.402367,0.192727,0.220126
2,0.240175,0.0,0.240175,0.264423,0.013532,0.015927,0.381443,0.013423,0.023703,0.326829,...,0.341016,0.382979,0.021201,0.025065,0.752294,0.069933,0.106870,0.177515,0.110000,0.104223
3,0.371179,0.0,0.371179,0.379808,0.031461,0.042020,0.000000,0.055705,0.040359,0.526829,...,0.073377,0.356383,0.081777,0.085117,0.490826,0.055186,0.064885,0.349112,0.072727,0.093441
4,0.244541,0.0,0.244541,0.538462,0.056834,0.078617,0.572165,0.030201,0.051570,0.712195,...,0.074788,0.255319,0.045936,0.038120,0.756881,0.043768,0.081107,0.360947,0.153636,0.175202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,0.248908,0.0,0.248908,0.264423,0.030447,0.032870,0.206186,0.021477,0.020500,0.370732,...,0.040452,0.468085,0.009086,0.020888,0.633028,0.041389,0.065840,0.284024,1.000000,1.000000
284,0.209607,0.0,0.209607,0.230769,0.021651,0.021688,0.489691,0.057047,0.072069,0.756098,...,0.063029,0.468085,0.037860,0.050653,0.637615,0.047574,0.072519,0.568047,0.085455,0.139263
285,0.283843,0.0,0.283843,0.043269,0.034506,0.021349,0.154639,0.022483,0.018258,0.141463,...,0.032926,0.143617,0.028773,0.009399,0.284404,0.136061,0.124523,0.159763,0.163636,0.154537
286,0.213974,0.0,0.213974,0.197115,0.018945,0.016605,0.335052,0.008725,0.016336,0.409756,...,0.048448,0.340426,0.020697,0.020366,0.564220,0.013796,0.031011,0.331361,0.078182,0.096137
287,0.213974,0.0,0.213974,0.201923,0.030108,0.028126,0.216495,0.029195,0.028507,0.400000,...,0.062088,0.537234,0.308935,0.337859,0.366972,0.080400,0.077290,0.390533,0.178182,0.203953

## Caso n° 1 - Con el 100% de los datos (sin eliminar ni outliers ni usuarios con pocas cargas)

### Division en Validation Train y Validation Test

In [50]:
X_valid_train,X_valid_test,y_valid_train,y_valid_test=train_test_split(X_train_norm,y_train,test_size=0.20,random_state=123)

### Determinacion de parametros e hiperparametros

In [308]:
grillaC = [2.5e-7,5e-7,1e-6,2.5e-6,5e-6,1e-5,2.5e-5,5e-5,1e-4,2.5e-4,5e-4,1e-3,2.5e-3,5e-3,1e-2,2.5e-2,5e-2,1e-1,2.5e-1,5e-1]
Profundidad = 250
Vecino = 100
Cargas_min_por_usuario = 5
Porcentaje_columnas = 50

## Se eliminan los usuarios con cargas menores:

In [309]:
cargas_min = Cargas_min_por_usuario
df2 = df1.groupby(['usuario']).count()>=cargas_min
df3= df2[df2.kp_E0 >0]
df = df1[df1['usuario'].isin(df3.index)]

In [310]:
df.describe()

,usuario,kp_E0,kdet_E0,kudet_E0,kp_S0,kdet_S0,kudet_S0,kp_T0,kdet_T0,kudet_T0,...,kudet_A25,kp_R22,kdet_R22,kudet_R22,kp_I11,kdet_I11,kudet_I11,kp_O13,kdet_O13,kudet_O13
count,361.000000,361.000000,361.0,361.000000,361.000000,361.000000,361.000000,361.000000,361.000000,361.00000,...,361.000000,361.000000,361.000000,361.000000,361.000000,361.000000,361.000000,361.000000,361.000000,361.000000
mean,64.977839,83.662050,0.0,83.662050,107.936288,196.324100,304.260388,98.307479,191.354571,289.66205,...,302.476454,102.318560,215.481994,317.800554,105.149584,150.814404,255.963989,91.844875,146.260388,238.105263
std,17.557985,25.448247,0.0,25.448247,33.472440,161.353245,165.288481,34.025761,299.632333,304.67380,...,204.026047,27.351537,206.058838,199.564231,36.360155,168.257859,166.604826,25.063880,157.373525,154.000794
min,1.000000,15.000000,0.0,15.000000,48.000000,111.000000,207.000000,48.000000,25.000000,100.00000,...,121.000000,40.000000,48.000000,159.000000,4.000000,12.000000,103.000000,32.000000,1.000000,68.000000
25%,66.000000,70.000000,0.0,70.000000,85.000000,158.000000,254.000000,75.000000,104.000000,191.00000,...,216.000000,80.000000,105.000000,216.000000,75.000000,87.000000,192.000000,74.000000,79.000000,170.000000
50%,69.000000,80.000000,0.0,80.000000,99.000000,182.000000,287.000000,88.000000,144.000000,235.00000,...,241.000000,105.000000,145.000000,264.000000,105.000000,112.000000,224.000000,89.000000,96.000000,200.000000
75%,73.000000,92.000000,0.0,92.000000,126.000000,209.000000,320.000000,112.000000,194.000000,293.00000,...,301.000000,120.000000,259.000000,352.000000,128.000000,170.000000,275.000000,110.000000,175.000000,251.000000
max,77.000000,244.000000,0.0,244.000000,256.000000,3067.000000,3158.000000,242.000000,4107.000000,4167.00000,...,2247.000000,228.000000,2034.000000,2074.000000,222.000000,2114.000000,2199.000000,201.000000,1101.000000,1181.000000

### Se eliminan columnas buscando el mejor resultado con menos carga y evitando el overfiting

In [311]:
hasta_col=int(df.shape[1]*Porcentaje_columnas/100)
df=df.iloc[:,0:hasta_col]

In [312]:
df

,usuario,kp_E0,kdet_E0,kudet_E0,kp_S0,kdet_S0,kudet_S0,kp_T0,kdet_T0,kudet_T0,...,kdet_ 18,kudet_ 18,kp_L1,kdet_L1,kudet_L1,kp_A11,kdet_A11,kudet_A11,kp_ 19,kdet_ 19
0,1,43,0,43,80,157,237,128,173,301,...,143,223,111,129,240,177,63,240,79,130
1,1,32,0,32,80,144,224,111,177,288,...,159,238,110,113,223,158,80,238,80,111
2,1,45,0,45,97,141,238,142,194,336,...,126,206,95,210,305,159,80,239,96,95
3,1,63,0,63,127,127,254,128,208,336,...,144,239,121,150,271,173,91,264,95,95
4,1,64,0,64,97,159,256,109,179,288,...,126,191,111,146,257,191,64,255,125,114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,77,84,0,84,69,165,234,68,191,259,...,100,174,75,184,259,50,145,195,54,110
357,77,79,0,79,85,159,244,75,200,275,...,184,259,65,538,603,55,130,185,60,75
358,77,66,0,66,70,160,230,76,194,270,...,130,199,68,579,647,55,124,179,74,75
359,77,90,0,90,74,160,234,74,219,293,...,142,210,60,675,735,49,135,184,75,74
360,77,59,0,59,95,142,237,70,215,285,...,150,204,84,449,533,61,153,214,74,105

### Regresión Logística Ridge

In [313]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Ridge

In [314]:
#Buscamos la mejor C de Ridge
#Genero un DataFrame para incluir la totalidad de los resultados de las iteraciones del for
Arr_Log_Ridge= pd.DataFrame(columns=['C','Acc_Log_Ridge', 'F1_Log_Ridge'])
for c in grillaC:
    Log_Ridge = LogisticRegression(penalty='l2', C=c, max_iter=10000, multi_class='ovr') 
#Entrenamos el modelo de Ridge (Clasificación)
    Log_Ridge.fit(X_valid_train,y_valid_train)            # entrenamos
#Obtenemos los coeficientes del modelo de Lasso (Clasificación)
    y_pred_Ridge = Log_Ridge.predict(X_valid_test)          #pronosticamos
    AC_Log_Ridge = Log_Ridge.score(X_valid_test,y_valid_test)  # evaluamos Accuracy
    F1_Log_Ridge = f1_score(y_valid_test,y_pred_Ridge, average="macro") # evaluamos F1
#Incluyo los resultados de las iteraciones en el DataFrame creado antes del for
    Arr_Log_Ridge = Arr_Log_Ridge.append({'C': c,'Acc_Log_Ridge': AC_Log_Ridge, 'F1_Log_Ridge': F1_Log_Ridge}, ignore_index=True)

In [315]:
 Arr_Log_Ridge

               C  Acc_Log_Ridge  F1_Log_Ridge
0   2.500000e-07       0.068966      0.009926
1   5.000000e-07       0.068966      0.009926
2   1.000000e-06       0.068966      0.009926
3   2.500000e-06       0.068966      0.009926
4   5.000000e-06       0.068966      0.009926
5   1.000000e-05       0.068966      0.009926
6   2.500000e-05       0.068966      0.009926
7   5.000000e-05       0.068966      0.009926
8   1.000000e-04       0.068966      0.009926
9   2.500000e-04       0.068966      0.009926
10  5.000000e-04       0.068966      0.009926
11  1.000000e-03       0.206897      0.057195
12  2.500000e-03       0.379310      0.074951
13  5.000000e-03       0.379310      0.080864
14  1.000000e-02       0.465517      0.211305
15  2.500000e-02       0.827586      0.559384
16  5.000000e-02       0.879310      0.706415
17  1.000000e-01       0.948276      0.908177
18  2.500000e-01       1.000000      1.000000
19  5.000000e-01       1.000000      1.000000

In [316]:
#Busco el "mejor resultado" en el DataFrame creado tras las iteraciones y asigno nuevo nombre para su uso en la comparacion 
#entre los mejores resultados de cada modelo
AC_L_Ridge = Arr_Log_Ridge.nlargest(1,'Acc_Log_Ridge')
ARRidge = AC_L_Ridge.set_index('C')
ARRidge

      Acc_Log_Ridge  F1_Log_Ridge
C
0.25            1.0           1.0

### Regresión Logística Lasso

In [317]:
from sklearn.linear_model import Lasso

In [318]:
# #Buscamos la mejor C de Lasso
# #Genero un DataFrame para incluir la totalidad de los resultados de las iteraciones del for
# Arr_Log_Lasso= pd.DataFrame(columns=['C','Acc_Log_Lasso', 'F1_Log_Lasso'])
# grillaC=[2.5e-7,5e-7,1e-6,2.5e-6,5e-6,1e-5,2.5e-5,5e-5]
# for c in grillaC:
#     Log_Lasso = LogisticRegression(penalty='l1', C=c, max_iter=10000, multi_class='ovr', solver='saga') 
# #Entrenamos el modelo de Lasso (Clasificación)
#     Log_Lasso.fit(X_valid_train,y_valid_train)            # entrenamos
# #Obtenemos los coeficientes del modelo de Lasso (Clasificación)
#     y_pred_Lasso = Log_Lasso.predict(X_valid_test)          #pronosticamos
#     AC_Log_Lasso = Log_Lasso.score(X_valid_test,y_valid_test)  # evaluamos Accuracy
#     F1_Log_Lasso = f1_score(y_valid_test,y_pred_Lasso, average="macro") # evaluamos F1
# #Incluyo los resultados de las iteraciones en el DataFrame creado antes del for
#     Arr_Log_Lasso = Arr_Log_Lasso.append({'C': c,'Acc_Log_Lasso': AC_Log_Lasso, 'F1_Log_Lasso': F1_Log_Lasso}, ignore_index=True)

In [319]:
# Arr_Log_Lasso

In [320]:
# #Busco el "mejor resultado" en el DataFrame creado tras las iteraciones y asigno nuevo nombre para su uso en la comparacion 
# #entre los mejores resultados de cada modelo
# AC_L_Lasso = Arr_Log_Lasso.nlargest(1,'Acc_Log_Lasso')
# ARLasso = AC_L_Lasso.set_index('C')
# ARLasso

### Regresión Logística Elastic Net

### Arbol de desicion

In [321]:
# Importamos las librerías para los modelos
from sklearn.tree import DecisionTreeClassifier  # para Árbol de Decisión
# Importamos las librerías para evaluar
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score

In [322]:
#Buscamos la mejor profundidad del Árbol
#Genero un DataFrame para incluir la totalidad de los resultados de las iteraciones del for
Arr_AClass= pd.DataFrame(columns=['Profund','Acc_AClass', 'F1_AClass'])
for n in range(1,Profundidad):
    modelo_AClass = DecisionTreeClassifier(max_depth = n, random_state=123)
#Entrenamos el modelo de Arbol de Decisiciòn (Clasificación)
    modelo_AClass.fit(X_valid_train, y_valid_train)
#Obtenemos los coeficientes del modelo de Arbol de Decisiciòn (Clasificación)
    y_pred_AClass = modelo_AClass.predict(X_valid_test)
    AC_AClass = round(accuracy_score(y_valid_test, y_pred_AClass),3)
    F1_AClass = round(f1_score(y_valid_test,y_pred_AClass, average='macro'),3)
#Incluyo los resultados de las iteraciones en el DataFrame creado antes del for
    Arr_AClass = Arr_AClass.append({'Profund': n,'Acc_AClass': AC_AClass, 'F1_AClass': F1_AClass}, ignore_index=True)

In [323]:
Arr_AClass

     Profund  Acc_AClass  F1_AClass
0        1.0       0.362      0.099
1        2.0       0.310      0.124
2        3.0       0.466      0.232
3        4.0       0.552      0.331
4        5.0       0.552      0.372
..       ...         ...        ...
244    245.0       0.672      0.550
245    246.0       0.672      0.550
246    247.0       0.672      0.550
247    248.0       0.672      0.550
248    249.0       0.672      0.550

[249 rows x 3 columns]

In [324]:
#Busco el "mejor resultado" en el DataFrame creado tras las iteraciones y asigno nuevo nombre para su uso en la comparacion 
#entre los mejores resultados de cada modelo
AClass = Arr_AClass.nlargest(1,'Acc_AClass')
ARClass = AClass.set_index('Profund')
ARClass

         Acc_AClass  F1_AClass
Profund
13.0          0.672      0.552

### KNN con weights = 'uniform'

In [325]:
from sklearn import neighbors           # para kNN
import warnings
warnings.simplefilter('ignore')

In [326]:
#Buscamos la mejor cantidad de Vecinos
#Genero un DataFrame para incluir la totalidad de los resultados de las iteraciones del for
Arr_KNClassU = pd.DataFrame(columns=['Vecinos','Acc_KNClass', 'F1_KNClass'])
for k1 in range(1,Vecino):
#Dentro del modelo KNN uso weights='uniform'
    modelo_KNClassU = neighbors.KNeighborsClassifier(n_neighbors = k1,weights='uniform')
#Entrenamos el modelo de KNN
    modelo_KNClassU.fit(X_valid_train,y_valid_train)
#Obtenemos los coeficientes de KNN
    y_pred_KNClassU = modelo_KNClassU.predict(X_valid_test)
    AC_KNClassU = round(accuracy_score(y_valid_test, y_pred_KNClassU),3)
    F1_KNClassU = round(f1_score(y_valid_test,y_pred_KNClassU, average='macro'),3)
#Incluyo los resultados de las iteraciones en el DataFrame creado antes del for
    Arr_KNClassU = Arr_KNClassU.append({'Vecinos': k1,'Acc_KNClass': AC_KNClassU, 'F1_KNClass': F1_KNClassU}, ignore_index=True)

In [327]:
Arr_KNClassU

    Vecinos  Acc_KNClass  F1_KNClass
0       1.0        0.983       0.969
1       2.0        0.983       0.969
2       3.0        0.983       0.969
3       4.0        0.983       0.969
4       5.0        0.983       0.969
..      ...          ...         ...
94     95.0        0.414       0.152
95     96.0        0.414       0.152
96     97.0        0.414       0.152
97     98.0        0.414       0.152
98     99.0        0.414       0.152

[99 rows x 3 columns]

In [328]:
#Busco el "mejor resultado" en el DataFrame creado tras las iteraciones y asigno nuevo nombre para su uso en la comparacion 
#entre los mejores resultados de cada modelo
KNClassU = Arr_KNClassU.nlargest(1,'Acc_KNClass')
KNN_unif = KNClassU.set_index('Vecinos')
KNN_unif

         Acc_KNClass  F1_KNClass
Vecinos
7.0              1.0         1.0

### KNN con weights = 'distance'

In [329]:
#Buscamos la mejor cantidad de Vecinos
#Genero un DataFrame para incluir la totalidad de los resultados de las iteraciones del for
Arr_KNClass_dist = pd.DataFrame(columns=['Vecinos','Acc_KNClass_dist', 'F1_KNClass_dist'])
for k2 in range(1,Vecino):
#Dentro del modelo KNN uso weights='distance'
    modelo_KNClass_dist = neighbors.KNeighborsClassifier(n_neighbors = k2,weights='distance')
#Entrenamos el modelo de KNN (Clasificación)
    modelo_KNClass_dist.fit(X_valid_train,y_valid_train)
#Obtenemos los coeficientes de KNN (Clasificación)
    y_pred_KNClass_dist = modelo_KNClass_dist.predict(X_valid_test)
    AC_KNClass_dist = round(accuracy_score(y_valid_test, y_pred_KNClass_dist),3)
    F1_KNClass_dist = round(f1_score(y_valid_test,y_pred_KNClass_dist, average='macro'),3)
#Incluyo los resultados de las iteraciones en el DataFrame creado antes del for
    Arr_KNClass_dist = Arr_KNClass_dist.append({'Vecinos': k2,'Acc_KNClass_dist': AC_KNClass_dist, 'F1_KNClass_dist': F1_KNClass_dist}, ignore_index=True)

In [330]:
 Arr_KNClass_dist

    Vecinos  Acc_KNClass_dist  F1_KNClass_dist
0       1.0             0.983            0.969
1       2.0             0.983            0.969
2       3.0             0.983            0.969
3       4.0             0.983            0.969
4       5.0             0.983            0.969
..      ...               ...              ...
94     95.0             0.569            0.241
95     96.0             0.569            0.241
96     97.0             0.569            0.241
97     98.0             0.569            0.241
98     99.0             0.569            0.241

[99 rows x 3 columns]

In [331]:
#Busco el "mejor resultado" en el DataFrame creado tras las iteraciones y asigno nuevo nombre para su uso en la comparacion 
#entre los mejores reultados de cada modelo
KNClass_dist = Arr_KNClass_dist.nlargest(1,'Acc_KNClass_dist')
KNN_dist = KNClass_dist.set_index('Vecinos')
KNN_dist

         Acc_KNClass_dist  F1_KNClass_dist
Vecinos
7.0                   1.0              1.0

## Comparacion entre Modelos

In [332]:
#Uso los DataFrame creados con los "mejores resultados" de cada modelo para su comparacion y determinacion del "modelo definitivo"
Compara = pd.DataFrame({'Modelo': ['Reg Log Ridge','Arbol','KNN_unif','KNN_dist'], 'Pramet': [AC_L_Ridge.iloc[0,0] , AClass.iloc[0,0], KNClassU.iloc[0,0], KNClass_dist.iloc[0,0]], 'Acc': [AC_L_Ridge.iloc[0,1], AClass.iloc[0,1], KNClassU.iloc[0,1], KNClass_dist.iloc[0,1]], 'F1': [AC_L_Ridge.iloc[0,2], AClass.iloc[0,2], KNClassU.iloc[0,2], KNClass_dist.iloc[0,2]]})
Compara = Compara.set_index('Modelo')
Compara

               Pramet    Acc     F1
Modelo
Reg Log Ridge    0.25  1.000  1.000
Arbol           13.00  0.672  0.552
KNN_unif         7.00  1.000  1.000
KNN_dist         7.00  1.000  1.000